*{
    margin: 0;
    padding: 0;
}
h1{
    background: blueviolet;
    color: #fff;
    text-align: center;
    padding: 20px;
}
h3{
    color: #222;
    font-size: 30px;
    margin-bottom: 15px;
}
p{
    text-align: justify;
}

button a{
    text-decoration: none;
    font-size: 30px;
    color: #fff;
    padding: 10px 30px;
    display: block;
}

button{
    border: none;
    margin-top: 20px;
    background-color: purple;
    border-radius: 30px;
}
